<div class="signupPage">
<h1 class="signText">Signup Page</h1>
<form method="POST" action="/auth/signup">
  <label>
UserName: <input type="text" name="username" required value="<%if(typeof errorMessage!=='undefined'){%>
<%= data.username%><%}%>"/> 
  </label>
  <label>
    Password:
    <input type="password" name="password" type="password" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required /> 
  </label>
  <button class="signingupBtn" type="submit">SignUp</button>
</form>
<% if (typeof errorMessage !== "undefined" ) { %>
<p><%= errorMessage %></p>
<%}%>
</div>