<header class="navbarnav">
  <img class="navlogo" src="/images/navlogo.png" alt="logo" />
  <nav>
    <ul class="nav_links">
      <li>
        <a href="/application"> Explore the Multiverse</a>
      </li>

      <li>
        <a href="/characters/allcharacters">Your Characters</a>
      </li>

      <li>
        <a href="/main">New Character</a>
      </li>

      <li>
        <a href="/items">Abilities</a>
      </li>

      <li>
        <a href="/infos">Fight the Strongest</a>
      </li>

      <li>
        <a href="/characterview">Anime Characters</a>
      </li>

      <li>
        <a href="/universe">Anime Universes</a>
      </li>
    </ul>
  </nav>
  <form action="/auth/logout" method="post">
    <button class="navbarBtn" type="submit">Log out</button>
  </form>
</header>
