<div class="exploreBox">
    <div class="exploreText">
    <h1 class="titleText" >Ahmed-Sama</h1>
    <div class="about-page">
      <div class="image">
        <img
        class="charviewimg1" src="/images/charviewImages/ahmed.png"
          alt="Mount Doom"
        />
        <button id="play">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/ahmed1.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>
      <div class="about">
      <p>The legend says Ahmed-Sama's wisdom keeps expanding day by day. Originally heroes and villians where confused on how he defeats enemies before the fight even starts.
        They thought he could only speak 2 languages Arabic and English, but recently discovered that Energy is the first language that he speaks. So be careful if he senses disrespect you might end up with
    his most famous attack... The Pew Pew 3000. </p>
      </div>
    </div>
    </div>
    </div>
    
    