<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
</form>
<h1 class="titleText">Explore the Multiverse</h1>
<div class="HomePage">
<div class="startblock">
    <img src="/images/yc.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="/characters/allcharacters" class="btn btn-primary">Your Characters</a>
    </div>
    </div>

    <div class="startblock">
  <img src="/images/nc2.png" class="card-img-top1" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="/main" class="btn btn-primary">New Character</a>
    </div>
</div>

<div class="startblock">
    <img src="/images/abilities.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <a href="/items" class="btn btn-primary">Abilities</a>
      </div>
  </div>

      <div class="startblock">
      <img src="/images/fight.png" class="card-img-top1" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a href="/game" class="btn btn-primary">Fight the Strongest</a>
    </div>
</div>

<!-- <div class="startblock">
    <img src="/images/ac.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="/infos" class="btn btn-primary">Anime Characters</a>
  </div>
</div> -->

<div class="startblock">
    <img src="/images/ac.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="/characterview"" class="btn btn-primary">Anime Characters</a>
  </div>
</div>

<div class="startblock">
    <img src="/images/au.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="/universe" class="btn btn-primary">Anime Universes</a>
  </div>
</div>
</div>

  