<h1>Application</h1>
<h2>HELLO <%= user.username%></h2>
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
<ul>
    <li>
        <a href="/main">Main Page</a>
        <a href="/private">Private Page</a>
    </li>
</ul>
