<div class="HomePage">
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
<ul>
    <li>
        <a href="/characters/allcharacters">Your Characters</a>
        <a href="/main">New Character</a>
        <a href="/items">Items</a>
        <a href="/game" >Game</a>
        <a href="/infos">Infos</a>
        <a href="/characterview">Character View</a>
        <a href="/universe"> Universe</a>

    </li>
</ul>
</div>