
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>

  <ul>
    <li>
        <a href="/songoku">Son Goku</a>
        <a href="/naruto1">Naruto</a>
        <a href="/a22b9s" >A2, 2B, 9S </a>
        <a href="/conan1">Detective Conan</a>
        <a href="/kamado">Tanjirō Kamado</a>
        <a href="/kaneki"> Ken Kaneki</a>
        <a href="/luffy"> Monkey D. Luffy</a>
        <a href="/meliodas"> Meliodas</a>
    </li>
</ul>
</div>
