<div class="exploreBox1">
    <h1 class="deletetitle">Running Away?</h1>
   
      </form>
    <div class="pageCtr">
    <div class="box">
      <div class="pageText">
        <h1 style="color: rgb(247, 0, 0)">
          Is this your Ninja Way <%= toDelete.name %>? Running Away from battles?
        </h1>
        <div class="deletebtns">
        <a href="/characters/<%= toDelete.id %>/deleteValid" class="btndelete" 
          >I'm sure! My Yamcha Way..</a>
        <a href="/characters/<%= toDelete.id %>/details" class="btndelete" 
          >I will be the createst!</a>
        </div>
      </div>
    </div>
  </div>
  </div>