<div class="updateBackground">
    <h1>Delete:</h1>
   
      </form>
    <div class="pageCtr">
    <div class="box">
      <div class="pageText">
        <h1 style="color: red">
          Are you sure you want to delete <%= toDelete.name %>? This proccess is
          irreversible!
        </h1>
        <a href="/characters/<%= toDelete.id %>/deleteValid" class="whiteButton"
          >I'm sure!</a
        >
        <a href="/characters/<%= toDelete.id %>/details" class="whiteButton"
          >Take me back!</a
        >
      </div>
    </div>
  </div>
  </div>