
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>

  <div class="profileText">
    <h1>Welcome To The Character View, <%= user.username%></h1>
    <div class="profileBox"> 
      <div class="profilePage">
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
        <a href="/songoku" class="button">
          <img
          src="/images/charImages/SayianM.jpg"
          alt="son goku"
          />
          Son Goku</a>
      </div>
        <div class="col">
          <a href="/naruto1" class="button">
            <img
            src="/images/charImages/ShinobiM.png"
            alt="son goku"
            />
            Naruto</a>
        <div class="col">
        <a href="/a22b9s" >A2, 2B, 9S </a>
      </div>
        <div class="col">
        <a href="/conan1">Detective Conan</a>
      </div>
        <div class="col">
        <a href="/kamado">Tanjirō Kamado</a>
      </div>
        <div class="col">
        <a href="/kaneki"> Ken Kaneki</a>
      </div>
        <div class="col">
        <a href="/luffy"> Monkey D. Luffy</a>
      </div>
        <div class="col">
        <a href="/meliodas"> Meliodas</a>
      </div>
    </div>
  </div>
</div>


