


  <div class="profileText">
    <h1>Welcome To The Character View, <%= user.username%></h1>
    <div class="profileBox"> 
      <div class="profilePage">
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
        <a href="/songoku" class="button">
          <img
          src="/images/charviewImages/Goku.png"
          alt="son goku"
          />
          Son Goku</a>
      </div>
        <div class="col">
          <a href="/naruto1" class="button">
            <img
            src="/images/charImages/ShinobiM.png"
            alt="son goku"
            />
            Naruto</a>
        <div class="col">
          <a href="/a22b9s" class="button">
            <img
            src="/images/charviewImages/a22b9s.jpg"
            alt="a22b9s"
            />
            A2, 2B, 9s</a>
      </div>
        <div class="col">
          <a href="/conan1" class="button">
            <img
            src="/images/charviewImages/conan1.jpg"
            alt="conan1"
            />
            Detectice Conan</a>
      </div>
        <div class="col">
          <a href="/kamado" class="button">
            <img
            src="/images/charImages/Demon-Slayer-PNG-Background-Image.png"
            alt="kamado"
            />
            Tanjirō Kamado</a>
      </div>
        <div class="col">
          <a href="/kaneki" class="button">
            <img
            src="/images/charImages/GhoulM.png"
            alt="kamado"
            />
            Ken Kaneki</a>
      </div>
        <div class="col">
          <a href="/luffy" class="button">
            <img
            src="/images/charviewImages/Monkey-D-Luffy-PNG-Image.png"
            alt="kamado"
            />
            Monkey D. Luffy</a>
      </div>
        <div class="col">
          <a href="/meliodas" class="button">
            <img
            src="/images/charviewImages/meliodas2.png"
            alt="kamado"
            />
            Meliodas</a>
      </div>
    </div>
  </div>
</div>


