<h1 class="titleText">Welcome To The Character View, <%= user.username%>
</h1>
<div class="charview">
  <div class="startblock1">
    <a href="/songoku" class="button"><img class="mainpageimg"  src="/images/charviewImages/Goku.png" alt="son goku" />Son Goku</a>
  </div>
  <div class="startblock1">
    <a href="/naruto1" class="button">
      <img class="mainpageimg" src="/images/charImages/ShinobiM.png" alt="son goku" />
      Naruto</a>
    </div>
    <div class="startblock1">
      <a href="/a22b9s" class="button">
        <img class="charviewimg3" src="/images/charviewImages/nier.png" alt="a22b9s" />
        A2, 2B, 9s</a>
    </div>
    <div class="startblock1">
      <a href="/conan1" class="button">
        <img class="charviewimg3" src="/images/charviewImages/conan.png" alt="conan1" />
        Detectice Conan</a>
    </div>
    <div class="startblock1">
      <a href="/kamado" class="button">
        <img class="charviewimg2" src="/images/charImages/Demon-Slayer-PNG-Background-Image.png" alt="kamado" />
        Tanjirō Kamado</a>
    </div>
    <div class="startblock1">
      <a href="/kaneki" class="button">
        <img class="charviewimg3" src="/images/charImages/GhoulM.png" alt="kamado" />
        Ken Kaneki</a>
    </div>
    <div class="startblock1">
      <a href="/luffy" class="button">
        <img class="charviewimg2" src="/images/charviewImages/Monkey-D-Luffy-PNG-Image.png" alt="kamado" />
        Monkey D. Luffy</a>
    </div>
    <div class="startblock1">
      <a href="/meliodas" class="button">
        <img class="charviewimg" src="/images/charviewImages/meliodas2.png" alt="kamado" />
        Meliodas</a>
    </div>
    <div class="startblock1">
      <a href="/ahmed" class="button">
        <img class="charviewimg" src="/images/charviewImages/meliodas2.png" alt="Ahmed" />
        Ahmed-Sama</a>
    </div>
    <div class="startblock1">
      <a href="/denis" class="button">
        <img class="charviewimg" src="/images/charviewImages/meliodas2.png" alt="Denis" />
        Denis-Sama</a>
    </div>
</div>
 
 


