<div class="characterCreate">
  <div class="Create">
      <h1 class="titleText">Change your Character:</h1>
      <form action="/characters/<%= findChar._id %>/update" method="POST">
        <div class="charupdatedetail">
        <ul>
          <li>
            <label class="mainlabel">Name:</label>
            <input
              type="text"
              name="name"
              placeholder="Enter Name"
              value="<%= findChar.name %>"
              class="maininput"
            />
          </li>
          <li>
            <label class="mainlabel">Weapon of choice:</label>
            <select class="createSelect" name="weapon">
              <option value="KAMEHAMEHA">KAMEHAMEHA</option>
              <option value="SHARINGAN">SHARINGAN</option>
              <option value="FIRE BREATH STYLE">FIRE BREATH STYLE</option>
              <option value="BANKAI">BANKAI</option>
              <option value="ULTRA INSTINCT">ULTRA INSTINCT</option>
            </select>
          </li>
          <li>
            <label class="mainlabel">Universe:</label>
            <select class="createSelect" name="universe" required >
              <option value="Human">Human</option>
              <option value="Sayian">Sayian</option>
              <option value="Shinobi">Shinobi</option>
              <option value="Demon">Demon</option>
              <option value="Ghoul">Ghoul</option>
              <option value="Android">Android</option>
              <option value="Alien">Alian</option>
            </select>
          </li>
          <li>
            <label class="mainlabel">Gender:</label>
            <select class="createSelect" name="gender" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </li>
          <div class="updateBtns">
            <li><button type="submit" class="detailbuttons">Apply Changes!</button></li>
            <li><a href="/characters/<%= findChar._id%>/details" class="detailbuttons">Cancel</a></li>
            </div>
        </ul>
      </form>
    </div>
  </div>
</div>
