<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <div class="exploreBox">
    <div class="exploreText">
    <h1>Conan</h1>
    <div class="about-page">
      <div class="image">
        <img
          src="/images/uniImages/tokyoghouluni.jpg"
          alt="Mount Doom"
          class="locationImage"
        />
        <button id="play">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/wegottapower.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>
      <div class="about">
      <p>Main character of the series, and Ran's love interest and later boyfriend. 
        He was shrunk into a child after being forced to take a drug called APTX 4869, 
        which was created by the Black Organization.</p>
      </div>
    </div>
    </div>
    </div>
    