
     <form action="/auth/logout" method="post">
        <button type="submit">Log out</button>
      </form>
      <div class="exploreBox">
        <div class="exploreBox"></div>
        <h1>Detective Conan</h1>
      
        <div class="about-page">
          <div class="image">
            <img
              src="/images/uniImages/conanuni.jpg"
              alt="Mount Doom"
              class="locationImage"
            />
            <audio
              src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
              controls="true"
              loop
              class="audio"
            ></audio>
            <script>
              const audio = document.querySelector(".audio");
              audio.volume = 0.05;
            </script>
          </div>
      
          <div class="about">
          <p>The cases of a detective whose physical age was chemically reversed to that of a prepubescent boy but must hide his true mental development. 
            Japanese high school student Kudo Shinichi is a well-known detective, known as the savior of the Japanese police.</p>
      
          </div>
        </div>
        </div>
        </div>
        