
    
      <div class="exploreBox">
        <div class="exploreBox"></div>
        <h1>Detective Conan</h1>
      
        <div class="about-page">
          <div class="image">
            <img
              src="/images/uniImages/conanuni.jpg"
              alt="Mount Doom"
              class="locationImage"
            />
            <button id="play">Play Music</button>
            <script>
              let play = document.getElementById("play");
              function playMusic(){
                let audio = new Audio("/audio/wegottapower.mp3");
                audio.play()
              }
              play.addEventListener("click", playMusic);
            </script>
          </div>
      
          <div class="about">
          <p>The cases of a detective whose physical age was chemically reversed to that of a prepubescent boy but must hide his true mental development. 
            Japanese high school student Kudo Shinichi is a well-known detective, known as the savior of the Japanese police.</p>
      
          </div>
        </div>
        </div>
        </div>
        