<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <div class="exploreBox"></div>
  <h1>Demon Slayer</h1>

  <div class="about-page">
    <div class="image">
      <img
        src="/images/uniImages/demonslayeruni.jpg"
        alt="Mount Doom"
        class="locationImage"
      />
      <audio
        src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
        controls="true"
        loop
        class="audio"
      ></audio>
      <script>
        const audio = document.querySelector(".audio");
        audio.volume = 0.05;
      </script>
    </div>

    <div class="about">
    <p>A family is attacked by demons and only two members survive - Tanjiro and his sister Nezuko, who is turning into
      a demon slowly.
      Tanjiro sets out to become a demon slayer to avenge his family and cure his sister.</p>

    </div>
  </div>
  </div>
  </div>
  