<div class="">
    <div class="">
    <h1>Son Goku</h1>
    <div class="">
      <div class="">
        <img
          src="/images/charviewImages/son-goku.jpg"
          alt="Mount Doom"
          class=""
        />
        <button id="">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/wegottapower.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>
      <div class="">
      <p>Son Goku</p>
      </div>
    </div>
    </div>
    </div>
    