<h1>Dragonball</h1>
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Dragonball Universe</h1>

      <div class="about-page">
        <div class="image">
          <img
            src="/images/mountDoom.jpg"
            alt="Mount Doom"
            class="locationImage"
          />
          <audio
            src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
            controls="true"
            loop
            class="audio"
          ></audio>
          <script>
            const audio = document.querySelector(".audio");
            audio.volume = 0.05;
          </script>
        </div>

        <div class="about">
          <p>
            The series begins with a young monkey-tailed boy named Goku befriending a teenage girl named Bulma. 
            Together, they go on an adventure to find the seven mystical Dragon Balls (ドラゴンボール),
             which have the ability to summon the powerful dragon Shenron, who can grant whoever summons him their greatest desire.
          </p>
          
        </div>
      </div>
    </div>
  </div>