
  <div class="exploreBox">
    <div class="exploreText">
      <h1>Dragonball</h1>

      <div class="about-page">
        <div class="image">
          <img
            src="/images/uniImages/dragon-ball--z-33.jpg"
           
            class="dragonballImage"
          />
          <button id="play">Play Music</button>
          <script>
            let play = document.getElementById("play");
            function playMusic(){
              let audio = new Audio("/audio/wegottapower.mp3");
              audio.play()
            }
            play.addEventListener("click", playMusic);
          </script>
        </div>

        <div class="about">
          <p>
            The series begins with a young monkey-tailed boy named Goku befriending a teenage girl named Bulma. 
            Together, they go on an adventure to find the seven mystical Dragon Balls (ドラゴンボール),
             which have the ability to summon the powerful dragon Shenron, who can grant whoever summons him their greatest desire.
          </p>
          
        </div>
      </div>
    </div>
  </div>

