<div class="welcomePage">
    <!-- <img src="/images/wallpaper.jpg" class="img-index" alt="Universe Image"> -->
<h1 class="indexText"> Welcome to the Anime Multiverse! </h1>
<p>Sign-up and enjoy the unique experience of creating your own POWERFULL character! </p>
<p>Log-in and explore all the universes from fighting the strongest out there to all the information you need about your faviorate universe.</p>
</div>
<div class="welcomeBtns">
    <a href="/auth/signup" class="signBtn">Sign Up</a>
    <a href="/auth/login" class="logBtn">Log-In</a>
</div>
    

