<h1>Infos</h1>
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <ul>
    <li>
        <a href="/Info-A">Info A</a>
        <a href="/Info-B">Info B</a>
        <a href="/Info-C">Info C</a>
        <a href="/Info-D">Info D</a>
    </li>
</ul>
