<h1 class="titleText">The Strongest Ever</h1>
<div class="strongestchar">
    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/madara.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Madara Uchiha</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/saitama.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Saitama</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg3" src="/images/strongest/goku.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Goku</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg2" src="/images/strongest/Vegeta.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Vegeta</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/naruto.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Naruto</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg3" src="/images/strongest/guts.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Guts</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/gojo.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Satoru Gojo</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>
    <div class="startblock1">
      <img class="itemImg2" src="/images/strongest/beerus.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Beerus</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/muzan.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Muzan Kibutsuji</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>

    <div class="startblock1">
      <img class="itemImg" src="/images/strongest/Ichigo.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="item-text">Kurosaki Ichigo</p>
          <a class="addBTN" href="/game">FIGHT!</a>
        </form>
      </div>
    </div>
</div>