<h1>Items Shop</h1>
<ul>
  <li>
    <h3>Item 1</h3>
    <p>Description of item 1</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 1">
      <button>Add to Shop</button>
    </form>
  </li>
  <li>
    <h3>Item 2</h3>
    <p>Description of item 2</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 2">
      <button>Add to Shop</button>
    </form>
  </li>
  <li>
    <h3>Item 3</h3>
    <p>Description of item 3</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3">
      <button>Add to Shop</button>
    </form>
  </li>
</ul>