<h1 class="titleText">Ability Shop</h1>
<div class="itemPage">  
  <div class="startblock1">
    <h5 class="item-text">Ability 1</h5>
  <img class="itemImg" src="/images/itemImages/Counter.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Full Counter</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>

<div class="startblock1">
  <h5 class="item-text">Ability 2</h5>
  <img class="itemImg" src="/images/itemImages/dfruit.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Devil's Fruit</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 3</h5>
  <img class="itemImg" src="/images/itemImages/fireGod.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Dance of the Fire God</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 4</h5>
  <img class="itemImg" src="/images/itemImages/Gear.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Fourth Gear</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 5</h5>
  <img class="itemImg" src="/images/itemImages/hakai.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Hakai Desctruction</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 6</h5>
  <img class="itemImg" src="/images/itemImages/Jakka.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Ryujin Jakka</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 7</h5>
  <img class="itemImg" src="/images/itemImages/punch.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Serious punch</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 8</h5>
  <img class="itemImg" src="/images/itemImages/Spirit.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="item-text">Spirit Bomb</p>
    <form action="/add-item" method="POST">
      <input type="hidden" name="itemName" value="Item 3" />
      <button class="addBTN">Add to Character</button>
    </form>
  </div>
</div>
<div class="startblock1">
  <h5 class="item-text">Ability 9</h5>
  <img
    class="itemImg"
    src="/images/itemImages/susanoo.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <p class="item-text">Susano</p>
    <form action="/add-item" method="POST">
      <input
        type="hidden"
        name="itemName"
        value="Item 3"
      />
      <button class="addBTN">Add to Character</button>
    </form>
    </div>
    </div>
    <div class="startblock1">
      <h5 class="item-text">Ability 10</h5>
      <img
        class="itemImg"
        src="/images/itemImages/Tsukuyomi.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="item-text">Tsukuyomi</p>
        <form action="/add-item" method="POST">
          <input
            type="hidden"
            name="itemName"
            value="Item 3"
          />
          <button class="addBTN">Add to Character</button>
        </form>
      </div>
      </div>
    </div>
