<h1 class="titleText">Item Details</h1>
<div class="itemdetailspage">
    <h1>Congrats! A new ability have been added to your Character!</h1>
    <h1>Looks like your powers are being sensed from all over the Multiverse.</h1>
    <h1>ARE YOU READY TO FIGHT THE STRONGEST OF THE STRONGESTS?</h1>
    <a href="/game" class="btn btn-primary">GIVE ME YOUR BEST SHOT!</a>
    <a href="/application" class="btn btn-primary">THEY ARE OVER 9000! I AM OUT!</a>
</div>


