<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <div class="exploreBox">
    <div class="exploreText">
    <h1>Kaneki</h1>
    <div class="about-page">
      <div class="image">
        <img
          src="/images/charviewImages/kaneki.jpg"
          alt="Mount Doom"
          class="kanekiImage"
        />
        <button id="play">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/wegottapower.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>
      <div class="about">
      <p>Ken Kaneki (金カネ木キ 研ケン, Kaneki Ken) is the main protagonist of the Tokyo Ghoul series. 
        He is currently Touka Kirishima's husband, and the father of Ichika Kaneki. Previously, 
        he was a student who studied Japanese literature at Kamii University, living a relatively normal life.
         However, this quickly changed after Rize Kamishiro's kakuhou was transplanted into him and transformed him into a one-eyed ghoul. 
         Kaneki is the first known artificial one-eyed ghoul. His unique half ghoul state is what later inspires the idea of the Quinx. 
         After joining Anteiku as a part-time waiter, he learns how to live as a ghoul and eventually becomes known as Eyepatch (眼帯, Gantai).</p>
      </div>
    </div>
    </div>
    </div>
    