<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <div class="exploreBox">
    <div class="exploreText">
    <h1>Monkey D. Luffy</1h>
      <div class="about-page">
        <div class="image">
          <img
            src="/images/charviewImages/luffy1.jpeg"
            alt="Mount Doom"
            class="locationImage"
          />
          <button id="play">Play Music</button>
          <script>
            let play = document.getElementById("play");
            function playMusic(){
              let audio = new Audio("/audio/wegottapower.mp3");
              audio.play()
            }
            play.addEventListener("click", playMusic);
          </script>
        </div>
    
        <div class="about">
      <p>The series focuses on Monkey D.
        Luffy—a young man made of rubber after unintentionally eating a
        Devil Fruit—who sets off on a journey from the East Blue Sea to find the deceased King of the Pirates Gol D.
        Roger's
        ultimate treasure known as the "One Piece", and takeover his prior title.</p>
    </div>
    </div>
    </div>
    </div>