<div class="characterCreate">
        <div class="Create">
          <h1 class="createtext">CREATE YOUR NEW MULTIVERSE CHARACTER!</h1>
          <form action="/characters/create" method="POST">
            <div>
              <ul>
                <li>
                  <label class="mainlabel">Name:</label><input type="text" placeholder="Enter Name" required name="name" class="maininput"/>
                </li>
                <li>
                  <label class="mainlabel">Nickname:</label>
                <input type="text" name="nickname" placeholder="Enter Nickname" required class="maininput"/>
                </li>
                
                <li>
                  <label class="mainlabel">Weakness:</label>
                <input type="text" name="weakness" placeholder="Enter Weakness" required class="maininput"/>
                </li>
                <li>
                  <label class="mainlabel">Universe:</label>
                <select class="createSelect" name="universe" required class="maininput">
                  <option value="Human">Human</option>
                  <option value="Sayian">Sayian</option>
                  <option value="Shinobi">Shinobi</option>
                  <option value="Demon">Demon</option>
                  <option value="Ghoul">Ghoul</option>
                  <option value="Android">Android</option>
                  <option value="Alien">Alien</option>
                </select>
                </li>
                
              
                <li>
                  <label class="mainlabel">Gender:</label>
                <select class="createSelect" name="gender" required class="maininput">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                </li>
                
                
                <li>
                  <label class="mainlabel">Weapon of choice:</label>
                <select class="createSelect"name="weapon" class="maininput" >
                  <option value="KAMEHAMEHA">KAMEHAMEHA</option>
                  <option value="SHARINGAN">SHARINGAN</option>
                  <option value="FIRE BREATH STYLE">FIRE BREATH STYLE</option>
                  <option value="BANKAI">BANKAI</option>
                  <option value="ULTRA INSTINCT">ULTRA INSTINCT</option>
                </select>
                </li>
                
                <button type="submit" class="welcomeBtn">WELCOME TO THE MULTIVERSE</button>
            </div>
                
              </ul>
              
  
            <div class="error">
              <% if (typeof errorMessage !== "undefined") {%>
              <p><%= errorMessage%></p>
              <% } %>
            </div>
          </form>
        </div>
  </div>