<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <div class="exploreText">
  <h1>Naruto</h>

    <div class="about-page">
      <div class="image">
        <img
          src="/images/uniImages/narutouni.jpg"
          alt="Mount Doom"
          class="locationImage"
        />
        <audio
          src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
          controls="true"
          loop
          class="audio"
        ></audio>
        <script>
          const audio = document.querySelector(".audio");
          audio.volume = 0.05;
        </script>
      </div>

      <div class="about">

      <p>It tells the story of Naruto Uzumaki, a young ninja who seeks recognition from his peers and dreams of becoming the Hokage, the leader of his village. 
      The story is told in two parts - the first set in Naruto's pre-teen years, and the second in his teens.</p>
</div>
</div>
</div>
</div>