
<div class="exploreBox">
  <div class="exploreText">
  <h1>Naruto</h>

    <div class="about-page">
      <div class="image">
        <img
          src="/images/uniImages/narutouni.jpg"
          alt="Mount Doom"
          class="narutoImage"
        />
        <button id="play">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/wegottapower.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>

      <div class="about">

      <p>It tells the story of Naruto Uzumaki, a young ninja who seeks recognition from his peers and dreams of becoming the Hokage, the leader of his village. 
      The story is told in two parts - the first set in Naruto's pre-teen years, and the second in his teens.</p>
</div>
</div>
</div>
</div>