<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <h1>Nier Automata</h>
    <p>The story is set in 11945 AD, and revolves around a proxy war between the human-made androids
    and an invading army of Machines from another world. Though they lack emotions and true names,
    each android has a distinct personality.</p>
</div>