<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <div class="exploreText">
  <h1>One Piece</1h>
    <div class="about-page">
      <div class="image">
        <img
          src="/images/uniImages/onepieceuni.jpeg"
          alt="Mount Doom"
          class="locationImage"
        />
        <audio
          src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
          controls="true"
          loop
          class="audio"
        ></audio>
        <script>
          const audio = document.querySelector(".audio");
          audio.volume = 0.05;
        </script>
      </div>
  
      <div class="about">
    <p>The series focuses on Monkey D.
      Luffy—a young man made of rubber after unintentionally eating a
      Devil Fruit—who sets off on a journey from the East Blue Sea to find the deceased King of the Pirates Gol D.
      Roger's
      ultimate treasure known as the "One Piece", and takeover his prior title.</p>
  </div>
  </div>
  </div>
  </div>