<h1>One Piece</h>
    <form action="/auth/logout" method="post">
        <button type="submit">Log out</button>
      </form>

      <p>The series focuses on Monkey D.
         Luffy—a young man made of rubber after unintentionally eating a 
         Devil Fruit—who sets off on a journey from the East Blue Sea to find the deceased King of the Pirates Gol D. Roger's 
         ultimate treasure known as the "One Piece", and takeover his prior title.</p>