<h1>Seven Deadly Sins</h>
    <form action="/auth/logout" method="post">
        <button type="submit">Log out</button>
      </form>

    <p>According to Roman Catholic theology, the seven deadly sins are the seven behaviours or feelings that inspire further sin. 
      They are typically ordered as: pride, greed, lust, envy, gluttony, wrath, and sloth.</p>