<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <h1>Seven Deadly Sins</h>
    <p>According to Roman Catholic theology, the seven deadly sins are the seven behaviours or feelings that inspire
      further sin.
      They are typically ordered as: pride, greed, lust, envy, gluttony, wrath, and sloth.</p>
</div>