<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <div class="exploreText">
  <h1>Seven Deadly Sins</h1>
  <div class="about-page">
    <div class="image">
      <img
        src="/images/uniImages/sdsuni.jpg"
        alt="Mount Doom"
        class="locationImage"
      />
      <audio
        src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
        controls="true"
        loop
        class="audio"
      ></audio>
      <script>
        const audio = document.querySelector(".audio");
        audio.volume = 0.05;
      </script>
    </div>

    <div class="about">
    <p>According to Roman Catholic theology, the seven deadly sins are the seven behaviours or feelings that inspire
      further sin.
      They are typically ordered as: pride, greed, lust, envy, gluttony, wrath, and sloth.</p>
</div>
</div>
</div>
</div>
