
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
  <div class="exploreBox">
    <div class="exploreText">
    <h1>Son Goku</h1>
    <div class="about-page">
      <div class="image">
        <img
          src="/images/charviewImages/son-goku.jpg"
          alt="Mount Doom"
          class="songokuImage"
        />
        <button id="play">Play Music</button>
        <script>
          let play = document.getElementById("play");
          function playMusic(){
            let audio = new Audio("/audio/wegottapower.mp3");
            audio.play()
          }
          play.addEventListener("click", playMusic);
        </script>
      </div>
      <div class="about">
      <p>Son Goku (孫そん悟ご空くう Son Gokū, Japanese pronunciation: [sõŋgokɯː]), 
        born Kakarot (カカロット Kakarotto, Japanese pronunciation: [kakaɾot̚to]),
         is a Saiyan raised on Earth and the overall main protagonist of the Dragon Ball series. 
         He is Bardock and Gine's youngest son, the husband of Chi-Chi, and the father of Gohan and Goten. 
         Originally sent to Earth by his parents as an infant, Kakarot was adopted by Grandpa Gohan and given the name Son Goku. 
         A head injury at an early age altered Goku's memory, ridding him of his initial destructive nature and allowing him to grow up to become one of Earth's greatest defenders. 
        Goku constantly strives and trains to be the greatest warrior possible, 
        which has kept the Earth and the universe safe from destruction multiple times.</p>
      </div>
    </div>
    </div>
    </div>
    