<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <h1>Tokyo Ghoul</h>
    <p>okyo Ghoul is set in an alternate reality where ghouls, creatures that look like normal people but can only
      survive by eating human flesh,
      live among the human population in secrecy, hiding their true nature in order to evade pursuit from the
      authorities.</p>
</div>