<form action="/auth/logout" method="post">
  <button type="submit">Log out</button>
</form>
<div class="exploreBox">
  <div class="exploreText">
  <h1>Tokyo Ghoul</h1>
  <div class="about-page">
    <div class="image">
      <img
        src="/images/uniImages/tokyoghouluni.jpg"
        alt="Mount Doom"
        class="locationImage"
      />
      <audio
        src="https://res.cloudinary.com/dtiihknqe/video/upload/v1668093128/mount_doom_tiv9ri.mp3"
        controls="true"
        loop
        class="audio"
      ></audio>
      <script>
        const audio = document.querySelector(".audio");
        audio.volume = 0.05;
      </script>
    </div>
    <div class="about">
    <p>Tokyo Ghoul is set in an alternate reality where ghouls, creatures that look like normal people but can only
      survive by eating human flesh,
      live among the human population in secrecy, hiding their true nature in order to evade pursuit from the
      authorities.</p>
    </div>
  </div>
  </div>
  </div>
  