<h1>Universe</h1>
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>

  <ul>
    <li>
        <a href="/dragonball">Dragonball</a>
        <a href="/naruto">Naruto</a>
        <a href="/nier" >Nier Automata</a>
        <a href="/conan">Detective Conan</a>
        <a href="/demonslayer">Demon Slayer</a>
        <a href="/tokyoghoul"> Tokyo Ghoul</a>
        <a href="/dragonball">Dragonball</a>
        <a href="/naruto">Naruto</a>
        <a href="/nier" >Nier Automata</a>
        <a href="/conan">Detective Conan</a>
        <a href="/demonslayer">Demon Slayer</a>
        <a href="/tokyoghoul"> Tokyo Ghoul</a>

    </li>
</ul>
