

  <div class="profileText">
    <h1>Welcome To The Universe, <%= user.username%></h1>
    <div class="profileBox"> 
      <div class="profilePage">
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <a href="/dragonball" class="button">
        <img
        src="/images/charImages/GhoulM.png"
        alt="dragonball"
        />
        Dragonball</a>

    </div>
    <div class="col">
      <a href="/naruto" class="button">
        <img
        src="/images/charImages/GhoulM.png"
        alt="kamado"
        />
        Naruto</a>
    </div>
    <div class="col">
      <a href="/nier" class="button">
        <img
        src="/images/charImages/GhoulM.png"
        alt="nier"
        />
        Nier Automata</a>
     
      <div class="col">
        <a href="/conan" class="button">
          <img
          src="/images/charImages/GhoulM.png"
          alt="conan"
          />
          Detective Conan</a>
      
      </div>
      <div class="col">
        <a href="/demonslayer" class="button">
          <img
          src="/images/charImages/GhoulM.png"
          alt="demonslayer"
          />
          Demon Slayer</a>
        
      </div>
      <div class="col">
        <a href="/tokyoghoul" class="button">
          <img
          src="/images/charImages/GhoulM.png"
          alt="kamado"
          />
          Tokyo Ghoul</a>
  
      </div>
      <div class="col">
        <a href="/onepiece" class="button">
          <img
          src="/images/charImages/GhoulM.png"
          alt="kamado"
          />
          One Piece</a>

      </div>
      <div class="col">
        <a href="/sevendeadlysins" class="button">
          <img
          src="/images/charImages/GhoulM.png"
          alt="sevendeadlysins"
          />
          Seven Deadly Sins</a>
  
      </div>
    </div>
    </div>
  </div>
