<h1 class="titleText">Welcome To The Universe, <%= user.username%>
</h1>
<div class="charview">
  <div class="startblock1">
    <a href="/dragonball" class="button">
      <img class="mainpageimg2" src="/images/unishowImages/dbuni.png" alt="dragonball" />
      Dragonball</a>
  </div>
  <div class="startblock1">
    <a href="/naruto" class="button">
      <img class="charviewimg2" src="/images/unishowImages/narutouni.png" alt="kamado" />
      Naruto</a>
  </div>
  <div class="startblock1">
    <a href="/nier" class="button">
      <img class="mainpageimg2" src="/images/unishowImages/nierautomatauni.png" alt="nier" />
      Nier Automata</a>
  </div>
  <div class="startblock1">
    <a href="/conan" class="button">
      <img class="charviewimg4" src="/images/unishowImages/conanuni.png" alt="conan" />
      Detective Conan</a>
  </div>
  <div class="startblock1">
    <a href="/demonslayer" class="button">
      <img class="charviewimg4" src="/images/unishowImages/demonslayer.png" alt="demonslayer" />
      Demon Slayer</a>
  </div>
  <div class="startblock1">
    <a href="/tokyoghoul" class="button">
      <img class="charviewimg4" src="/images/charImages/GhoulM.png" alt="tokyogoul" />
      Tokyo Ghoul</a>
  </div>
  <div class="startblock1">
    <a href="/onepiece" class="button">
      <img class="charviewimg2" src="/images/unishowImages/onepieceuni.png" alt="onepiece" />
      One Piece</a>
  </div>
  <div class="startblock1">
    <a href="/sevendeadlysins" class="button">
      <img class="charviewimg4" src="/images/unishowImages/sevendeadlysins.png" alt="sevendeadlysins" />
      Seven Deadly Sins</a>
  </div>
</div>
