body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/wallpaper.jpg");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.indexText{
  color: white;
}

p {
  color: white;
  font-size: 30px;

}
/* welcome page css */
.welcomePage {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
}

.signBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.logBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: tomato;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.welcomeBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* sign up page css */
.signupPage{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 500px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.signText {
  color: white;
  text-align: center;
  margin-top: 0;
}

.signingupBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: skyblue;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 180px;
  cursor: pointer;
}

.signupForm {
  width: 400px;
  height: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*login page css*/
.loginText {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-bottom: 150px;
}

.loginPage{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 400px;
  font-size: 20px;
}

.loginInputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* home page css */
.HomePage{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 400px;
  text-align: center;
}

/*universe page css*/
.universePage{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 400px;
  text-align: center;
}

/* dragon ball universe page css*/
.exploreBox{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 500px;
  text-align: center;
  color: white;
}

.locationImage{
  width: 400px;
}

.charimg {
  width: 200px;
}


.gamePage body {
  background-color: darkblue;
  color: yellow;
 }
 
 /* All elements width includes borders and padding*/
 * {
 box-sizing: border-box;
 }
 
 /* Rows*/
 .row::after {
 content: "";
 clear: both;
 display: table;
 }
 
 /* Classes containing "col-"*/
 [class*="col-"] {
 float: left;
 padding: 15px;
 }
 
 /* Column width for small devices (i.e. smart phones)*/
 [class*="col-"] {
 width: 100%;
 }
 
 /* Column width for large devices (i.e. computers)*/
 @media only screen and (min-width: 768px) {
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 }
 
 /* Column width for large devices (i.e. tablets)*/
 @media only screen and (min-width: 600px) {
 .col-t-1 {width: 8.33%;}
 .col-t-2 {width: 16.66%;}
 .col-t-3 {width: 25%;}
 .col-t-4 {width: 33.33%;}
 .col-t-5 {width: 41.66%;}
 .col-t-6 {width: 50%;}
 .col-t-7 {width: 58.33%;}
 .col-t-8 {width: 66.66%;}
 .col-t-9 {width: 75%;}
 .col-t-10 {width: 83.33%;}
 .col-t-11 {width: 91.66%;}
 .col-t-12 {width: 100%;}
 }
 
 /* Button */
 .greenBut {
 color: darkblue;
 padding: 12px; /* Some padding */
 background-color: yellow;
 font-size: 24px;
 border: 1px solid #ccc; /* Gray border */
 border-radius: 6px; /* Rounded borders */
 margin: 10px;
 }
 
 img {
   max-width: 100%;
   margin: 10px;
 }
 
 button:hover {
   opacity: .5;
 }
 .about-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.about {
  margin-left: 20px;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px
}

.about-image{
  width: 60vw;
  margin-left: 10px;
  margin-bottom: 10px;
}
.about-image img {
  width: 500px;
}
.profileBox {
  margin-top: 50px;
    margin-left: 250px;
    border: 5px solid white;
    background-color: rgba(58, 28, 6, 0.7);
    width:70vw;
  }

  .exploreBox {
    margin-top: 20px;
    margin-left: 260px;
    border: 5px solid white;
    background-color: rgba(58, 36, 6, 0.7);
    width:70vw;
  }

  .profileText{
    font-size: 20px;
    text-align: center;
    color: white;
  }

  .profilePage {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .songokuImage {
    width: 6000px;
    margin-left: 10px;
  }

  .conanImage {
    width: 1200px;
    margin-left: 10px;
  }

  .kanekiImage {
    width: 2200px;
    margin-left: 10px;
  }
  .kamadoImage {
    width: 350px;
    margin-left: 10px;
  }
  .luffyImage {
    width: 350px;
    margin-left: 10px;
  }
  .meliodasImage {
    width: 3550px;
    margin-left: 10px;
  }
  .narutoImage {
    width: 600px;
    margin-left: 10px;
  }
  .dragonballImage {
    width: 2300px;
    margin-left: 10px;
  }
  .narutoImage {
    width: 1300px;
    margin-left: 10px;
  }
  .nierImage {
    width: 700px;
    margin-left: 10px;
  }
  .onepieceImage {
    width: 550px;
    margin-left: 10px;
  }
  .sdsImage {
    width: 1350px;
    margin-left: 10px;
  }
  .tokyogImage {
    width: 1600px;
    margin-left: 10px;
  }
  .button{
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    color: rgb(6, 58, 19);
    background-color: white;
    display:flex; 
    flex-direction: column;
    align-items: center;
    width: 160px;
  }